body {
    background:rgb(155, 165, 173);
}

.para {
    color: red;
}

.heading {
    color: blue;
}

.divForH1 {
    border-color: black;
    border-width: 1em;
    background-color: pink;
}

button {
    border-radius: 5px;
    border-width: 1em;
    background-color: purple;
    color: white;
    transition-duration: 0.4s;
}

button:hover {
    background-color: thistle;
    color: black;
}